<!-- Modal -->
<div class="modal fade" id="modal-user-show" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <%= render 'shared/users_edit_modal' %>
      </div>
    </div>
  </div>
</div>